class {
    // onCreate() {
    //     this.state = { count:0 };
    // }
    increment() {
        alert('button clicked!');
    }
}

<!-- <div.count>
    ${state.count}
</div> -->
<button.example-button on-click('increment')>
    Click me!
</button>
